
body {
    margin: 0;
    font-family: sans-serif;
}
h1, h2, h3, h4, h5 {
    color: teal;
}
header, main, footer, aside {
    padding: 1em;
}
header {
    background-color: tomato;
}
header h1 {
    color: white;
    font-size: 3em;
    border-bottom: 5px solid teal;
    display: inline-block;
    margin-top: 2em;
}
header ul {
    padding: 0;
    margin: 0;
}
header ul li {
    display: inline-block;
    padding: 1em;
}
header ul li:hover {
    background-color: orange;
}
header img {
    margin-right: 1em;
}
main {
    background-color: rgb(230, 230, 230)
}

aside {
    background-color: teal;
    color: black;
}
aside h1, aside h2, aside h3, aside h4, aside h5 {
    color: white;
}
aside li {
    text-decoration: none;
    list-style: none;
}
main article h1 {
    padding: 0.5rem;
    border: 1px tomato solid;
    display: inline-block;
    border-radius: 10px;
}
footer {
    background-color: rgb(47, 47, 47);
    color: white;
}
footer ul {

}
